<div class="modal fade modal-window col-8" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close btn btn-danger" data-dismiss="modal"
                    style="border-radius: 100%; font-size: x-small;">&times;</button>
                <h4 class="modal-title">Labels</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>