@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Load your traffic sign photos using "Browse files" button, then click "submit"</p>

    <input type="file" id="file-input" name="file" class="mt-2" multiple />
    <br />
    <button class="btn btn-info mt-2" onclick="submitImages()">Submit</button>
    <button class="btn btn-info mt-2" id="show-labels-button">Show possible results</button>
    <button class="btn btn-info mt-2" id="get-precision-rate-button">Get precision rate</button>
</div>
<div id="predictions-container">
    <div class="row m-5">
        <h1 class="d-inline-flex col-10">Prediction results</h1> 
        <button class="btn btn-danger col-2" onclick="clearPredictionResultsField()">Remove all results</button>
    </div>
    <div id="prediction-results-field"></div>
</div>

<partial name="ModalPartial" />
<partial name="ModalPartial" />

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script>
        $(document).ready(function() {
            $('.modal-window').eq(0).attr('id', 'labels-modal-window')
            $('#labels-modal-window .modal-body').attr('id', 'labels-modal-body')
            $('.modal-window').eq(1).attr('id', 'precision-rate-modal-window')
            loadLabels()
            getPrecisionRate()
        })

        function loadLabels() {
            $.ajax({
                url: '/labels',
                type: 'get',
                success: function (response) {
                    let htmlString = ''
                    for(let label of response) {
                        htmlString += '<p class="mb-1">' + label + '</p>'
                    }
                    $('#labels-modal-body').html(htmlString)
                }
            })
        }

        $('#show-labels-button').click(function() {
            $('#labels-modal-window').modal('show')
        })

        $('#get-precision-rate-button').click(function() {
            getPrecisionRate()
            $('#precision-rate-modal-window').modal('show')
        })

        $('.btn.modal-close').click(function() {
            $('#labels-modal-window').modal('hide')
            $('#precision-rate-modal-window').modal('hide')
        })

        function submitImages(){
            let data = new FormData()
            let files = $('#file-input')[0].files

            if (files.length > 0) {
                for(const file of files)
                    data.append('file', file)

                $.ajax({
                    url: '/detect-traffic-sign',
                    type: 'post',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#prediction-results-field').append(parsePredictionResult(response, files))
                    }
                })
            } else {
                alert('there are no files')
            }
        }

        function parsePredictionResult(jsonTextArray, files) {
            let predictionResultsFieldChildrenCount = $('#prediction-results-field').children().length
            let htmlString = ''
            let mostProbableResult = ''
            for (let i = 0; i < jsonTextArray.length && i < files.length; i++) {
                // parsing a prediction
                htmlString += '<div class="row col-12">'
                htmlString += '<div class="col-6">'
                htmlString += '<p>' + jsonTextArray[i].fileName + '</p>'
                htmlString += '<p> Top-5 predictions: <ol>'
                for(let predictionItem of jsonTextArray[i].predictionData) {
                    htmlString += '<li>' + predictionItem.label + ': ' +  predictionItem.value + '</li>'
                }
                htmlString += '</ol></p></div>'
                mostProbableResult = jsonTextArray[i].predictionData[0].label
                // adding a photo
                htmlString += '<div class="col-2 offset-2" ' + 'id="prediction-image-' + (predictionResultsFieldChildrenCount + i).toString() + '">'
                let reader = new FileReader()
                reader.onload = function (event) {
                    let image = document.createElement("img")
                    image.src = event.target.result
                    image.width = 200
                    image.height = 200
                    $('#prediction-image-' + (predictionResultsFieldChildrenCount + i).toString()).append(image)
                }
                reader.readAsDataURL(files[i])
                htmlString += '</div>'
                // adding buttons
                htmlString += '<div class="col-2" id="prediction-buttons-' + (predictionResultsFieldChildrenCount + i).toString() + '">'
                htmlString += `<button class="btn btn-success" onclick="addPredictionFeedback('` + mostProbableResult + `', true, ` + (predictionResultsFieldChildrenCount + i).toString() + `)">Correct</button>`
                htmlString += `<button class="btn btn-danger" onclick="addPredictionFeedback('` + mostProbableResult + `', false, ` + (predictionResultsFieldChildrenCount + i).toString() + `)">False</button>`
                htmlString += '</div>'
                htmlString += '</div>'
            }

            return htmlString
        }

        function clearPredictionResultsField() {
            $('#prediction-results-field').html('')
        }

        function addPredictionFeedback(label, isTrue, parentIdEnding) {
            let data = {
                label : label,
                isTrue : isTrue
            }

            $.ajax({
                url : '/feedback',
                method : 'post',
                data : data,
                success : function(result) {
                    $('#prediction-buttons-' + parentIdEnding).html('')
                }
            })
        }

        function getPrecisionRate() {
            $.ajax({
                url: '/precision-rate',
                type: 'get',
                success: function (result) {
                    $('#precision-rate-modal-window .modal-body').html('<p>Precision is: ' + result.toString() + '</p>')
                }
            })
        }
    </script>
}